@charset "utf-8";
/*Professional website stylesheet for final project*/
@font-face{
	font-family: knewave;
	src:
		url('fonts/knewave-master/webfonts/knewave-webfont.eot'),
		url('fonts/knewave-master/knewave.ttf');
}

@font-face{
	font-family: Linden Hill;
	src:
		url('fonts/linden-hill-master/webfonts/LindenHill-webfont.eot'),
		url('fonts/linden-hill-master/webfonts/LindenHill-webfont.woff'),
		url('fonts/linden-hill-master/webfonts/LindenHill-webfont.svg');
}
#digital{
	position: relative;
}

body{
	margin:0;
}
/*for the banner at the top*/
header{
	background-color: #e29191;
	/*pinkish color*/
	font-family: Linden Hill;
	padding-bottom: 2em;
}
h1{
	margin:0;
	padding:.5em;
	font-family: Linden Hill;
}
p{
	font-family: Linden Hill;
}
.links{
	display:flex;
	flex-wrap:wrap;
	margin-left: 10em;
	justify-content: space-around;
	padding:14px 28px;
	font-size: 1.5em;
	list-style: none;
}
/
h2{
	font-size: 3em;
	padding:1em;
}
h2,h3{
	font-family: knewave;
	text-align: center;
	color: #e29191;
}
h3{
	margin:0;
	font-size: 2.3em;
	background-color: black;
	padding:.5em;
}



/*image for the main page*/
#wsp{
	margin:0;
	padding:0;
	width: 100%;
	position:absolute;
	top:175px;
	left:0px;
}
/*.plus{
	color: #e29191;
	text-align: center;
	margin:0;
	padding:0;
}*/

/*text box on image for short description*/
#box-text{
	position:absolute;
	background:rgba(0,0,0,0.5);
	/*black background with a .5 opacity for the grayish background*/
	display:grid;
	color:white;
	grid-template-columns: 25% 25% 15% 35%;
/*start at column 4 for background gray and text??*/
	grid-template-rows: 50% 50%;
	grid-row-gap: 9.5em;
	top:175px;

}

/*the text of writing specifically*/
#content{
	grid-column-start: 4;
	padding:1em;
	line-height: 1.4em;
}
/*rest of webpage under banner/image*/
#container{
	margin-top:25em;
	position:relative;
}
#vis-arts, #dig-arts{
	display:grid;
	grid-template-columns: repeat(3, 1.5fr);
	grid-row-gap: 2em;
	margin-bottom: 2em;

}
/*for each art piece*/
.piece{
	margin:auto;
}
#vis-arts img, #dig-arts img{
	border: 3px solid #e29191;
}
/*for description of each art piece*/
.artinfo{
	text-align: center;
}
/*work section*/
#work, #internship, #volunteer{
	text-align: center;
	line-height: 2em;
}
.experiences-listed{
	list-style-position: inside;
	text-align: left;
	margin-left: 15em;
}

footer{
	margin-top: 4em;
	background-color: black;
	color:#e29191;
	text-align: center;
	padding:2em;
	line-height: 2em;
	font-size: 1.3em;
}
#linkedin{
	border-radius: 10px;
}
/*form section*/
form{

	margin:auto;
	margin-top: 5em;
	padding:3.5em;
	border-radius: 20px;
	background-color: #e29191;
	color: white;
	width:55%;
	line-height: 1.5em;
	font-size: 1.3em;
}
form p{
	font-family: Linden Hill;
}
#twocol{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 20px;
	grid-row-start: 1;
	grid-row-end: 3;
}

#form{
	margin: auto;
}
form h1{
    text-align: center;
}
#textbox1{
    margin-left: 3em;
}
#textbox2{
    margin-left: 3em;
}
#textbox3{
    margin-left: 6.7em;
}
#textbox4{
    margin-left: 5.3em;
}

#buttonsend{
    float:right;
    font-family: Linden Hill;
    font-size: .7em;
    border-radius: 1.3em;
    padding:1.3em;
    text-align: right;
}
#buttonsend:hover{
    background-color: antiquewhite;
}
#return{
	background-color: pink;
	margin:5em;
	margin-left: 29em;
}

/*scrolling pics*/
.parallax-window {
    min-height: 400px;
    background: transparent;
}

/*song section*/
#song{
	text-align: center;
}

/*links section*/
a:link, a:visited{
	text-decoration: none;
	color:beige;
}
a:hover{
	text-decoration: none;
	color:gray;
}
a:active{
	text-decoration: none;
	color:white;
	border:none;
}
/*.extra a:link, .extra a:visited{
	color: red;
	font-size: 2em;
}
.extra{
	text-align: center;
}*/

/*@Media inquiries*/

@media only screen and (max-width:1400px){
	#box-text{
		display: block;
	}
}

@media only screen and (max-width:1150px){
	#twocol{
		display: block;
	}
}
@media only screen and (max-width:990px){

	#box-text, #vis-arts, #dig-arts, #work, #internship, #volunteer, footer{
		display:block;
	}
	.piece {
		text-align: center;
	}
	#box-text{
		margin-top: 120px;
		height: 371px;

	}
	#wsp{
		margin-top: 120px;
	}

	.links{
		margin-left: 0px;
	    display: block;
	    text-align: right;
	}
	.experiences-listed{
		display:block;
		margin:auto;
	}
	#container{
		margin-top:350px;
	}
	#song{
		padding:2em;
	}

	form h1{
		line-height: 50px;
	}

	#textbox1{
	    margin-left: 0em;
	}
	#textbox2{
	    margin-left: 0em;
	}
	#textbox3{
	    margin-left: 0em;
	}
	#textbox4{
	    margin-left: 0em;
	}
	textarea{
		width:230px;
	}

}


